.inter-font{
  font-family: "Inter", sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* shared classes */
.container{
  max-width: 75%;
  margin: 0 auto;
}
.section-color{
  background-color: #1A0B2E;
}
.font-16{
font-size: 1rem;
color: #FFFFFF;
}
.rgb-btn{
  font-size: 16px;
  border-radius: 12px;
  border: navajowhite;
  font-weight: 600;
  padding: 12px 16px 12px 16px;
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  color: white;
}
/* header related style */
header{
  border-bottom: 1px solid #FB09B4;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 64px;
  font-weight: 800;
}
.tech{
  color: white
}
.logo .wave{
color:#FB09B4 ;
}
.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.blog a{
  text-decoration: none;
}
