.inter-font {
  font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* shared classes */
.container {
  max-width: 75%;
  margin: 0 auto;
}

.bg-black {
  background-color: #1A0B2E;
}

.font-16 {
  font-size: 1rem;
  color: #ddd6d6;
}

.font-60 {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 3.8rem;
  white-space: nowrap;
}

.rgb-btn {
  font-size: 16px;
  border-radius: 12px;
  border: navajowhite;
  font-weight: 600;
  padding: 12px 16px 12px 16px;
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  color: white;
  text-align: center;
}

.rgb-btn:hover {
  color: #F7E93F;
  background: linear-gradient(45deg, #FB09B4 51%, #9100F8 100%);
}

/* header related style */
header {
  border-bottom: 1px solid #fb09b237;
  padding-top: 10px;
  padding-bottom: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 4rem;
  font-weight: 800;
}

.tech {
  color: white
}

.logo .wave {
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.blog li {
  list-style: none;
}

.blog a {
  text-decoration: none;
}

/* hero section related style */
#hero-section {
  max-height: 700px;
  background: url(./assets/hero-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.hero-img {
  position: relative;
}

.hero-img .img1 {
  width: 350px;
}

.hero-img .img2 {
  position: absolute;
  top: 25%;
  left: 40%;
  animation: spack 5s ease infinite;

}

@keyframes spack {
  0% {

    transform: scale(0.5);
  }

  25% {

    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.1);
  }
}

.hero-contant {
  text-align: center;
  margin: 40px auto;
}

.hero-contant h1 {
  margin-top: 20px;
}

.hero-contant p {
  margin: 20px auto;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.hero-btn1 {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 12px 20px 12px 20px;
}

.hero-btn button {
  background: none;
  border: none;
  font-weight: 700;
  color: #00FF88;
  transition: 0.2s;
}

.hero-btn button:hover {
  color: #F7E93F;
  transform: scale(1.1);
}

.hero-btn2 {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #00FF88;
  padding: 12px 20px 12px 20px;
  background: none;
  border: 1px solid #00FF88;
  border-radius: 12px;
}

.new {
  font-size: 18px;
  font-weight: 600;
  border-radius: 18px;
  padding: 8px 16px 8px 16px;
  background-color: #00FF88;
  position: absolute;
  left: 70%;
  top: 10%;
  box-shadow: 1px 1px 80px #00FF88;

}

.new:hover {
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  color: white;
}

/* about section related style */
.about-contant h1 {
  margin-bottom: 30px;
}

.about-contant {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #fb09b231;
}

.rating-all {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;
  gap: 80px;
  place-items: center;
  padding: 80px;
}

.rating-all h1 {
  color: #00FF88;
  font-weight: 800;
  font-size: 3.8rem;
  margin-bottom: 20px;
}

/* choose section related styel */
#choose-section {
  background-color: #230E3D;
  padding: 120px;
}
.choose-container h1{
  padding-bottom: 80px;
  text-align: center;
}
.choose-card-all {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4);

}

.card1 {
  grid-column: span 1;
  grid-row: span 2;

}

.card2 {
  grid-column: span 3;
  grid-row: span 1;
}

.card3 {
  grid-column: span 3;
  grid-row: span 1;
}

.card4 {
  grid-column: span 3;
  grid-row: span 1;
}


.choose-card {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px 40px 20px 40px;
  transition: 0.5s ease;
}

.choose-card:hover {
  transform: scale(0.97);
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

.choose-card h2 {
  color: #FFFFFF;
  margin: 20px 0;
  white-space: nowrap;
}

/* featured section related style */
.featured-section {
  padding-bottom: 120px;
}

.featured-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-container h2 {
  text-align: center;
  white-space: nowrap;
  padding: 50px;
}

.feature-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: auto;
}

.video-card {
  background-color: #250D44;
  border-radius: 20px;
}

.video-box {
  position: relative;
  height: 150px;
}

.video-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card-body {
  color: #FFFFFF;
  padding: 30px;

}

.card-body h3 {
  margin: 0 0 20px 0;
}

.card-time {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 10px 0;
}

.video-box p {
  padding: 10px;
  padding-left: 20px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 25%;
  left: 35%;
  color: white;
  font-size: 30px;
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  transition: 0.5s ease;
}

.video-box p:hover {
  color: #00FF88;
  transform: scale(1.1);
}

/* host related style */
.host-card {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #250D44;
  border-radius: 20px;
}

.host-card h3 {
  color: #FFFFFF;
  margin: 20px 0;
}


.host-card .icon {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
  cursor: pointer;

}

.host-card .icon img {
  border: 1px solid #533C72;
  padding: 10px;
  border-radius: 40%;
}

.host-card .icon img:hover {
  background: linear-gradient(45deg, #45f73f 0%, #2c434a50 51%, #765190 100%);
}

/* footer section related style */
#footer-section {
  background: url(./assets/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-contant {
  padding: 80px;
  text-align: center;
}

.footer-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.footer-logo {
  margin-bottom: 10px;
}

.footer-img p {
  display: flex;
  color: #FFFFFF;
  gap: 15px;
  white-space: nowrap;

}

.copyright {
  margin-top: 32px;
}

.menu-icon {
  display: none;
}

/* all section ended */
@media screen and (max-width:576px) {

  .boro-display,
  .btn1 {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .font-16 {
    font-size: 0.9rem;
  }

  .font-60 {
    font-size: 1.8rem;
  }

  .logo {
    font-size: 2rem;
  }

  .hero-img .img1 {
    width: 250px;
  }

  .hero-img .img2 {
    width: 60px;
    top: 30%;
    left: 43%;

  }


  #hero-section {
    max-height: 450px;
    background: url(./assets/hero-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .about-contant h1 {
    padding-top: 30px;
    margin-bottom: 10px;
  }

  .rating-all {
    grid-template-columns: repeat(2, 1fr);
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;

  }

  .rating-all h1 {
    font-size: 40px;
  }


  #choose-section {
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

  }

  .feature-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .host-card {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 50px 30px;
  }

  .host-contant .icon {
    padding: 0px;
    padding-top: 10px;
  }

  .footer-contant {
    padding: 20px;
  }

  .footer-img {
    flex-wrap: wrap;
    gap: 16px;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .choose-card-all {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 30px;
  }
}